/*폰트*/
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

/*스타일 리셋*/
* {
    padding: 0;
    margin: 0;
    position: relative;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

/*글자*/
body {
    font-family: 'SUIT Variable', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 12px;
    line-height: 22px;
}

span {
    font-size: 12px;
    line-height: 22px;
}


/* header */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    z-index: 100;
}

header.down {
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #333333;
}

header .menu2 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* fullpage nav */
#fp-nav ul li {
    width: 12px !important;
    height: 12px !important;
}

#fp-nav ul li a span {
    width: 12px !important;
    height: 12px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: #c5c5c5 !important;
    top: 0 !important;
    left: 0 !important;
    transform: rotate(0deg) !important;
    transition: 0.6s !important;
}

#fp-nav ul li a.active span {
    background-color: #ff0 !important;
    transform: rotate(450deg) !important;
}