/* 공통 */
.project_section {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 80px;
}

/* header */
header {
    transition: 0.4s;
}
/* s1 */
.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.s1 .text_box {
    top: 18%;
    z-index: 1;
}

.s1 h4 {
    font-size: 1.5rem;
}

.s1 h1 {
    font-size: 12rem;
    text-transform: capitalize;
}

/* s2 */
.s2 {
    padding: 80px;
}

.s2 .container {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    top: -1px;
}

.s2 .container .item {
    border: 1px solid #000;
    padding: 30px;
    box-sizing: border-box;
}

/* item1 */
.s2 .container .item1 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.s2 .container .item1 .img_box {
    width: 300px;
    margin-left: 80px;

}

.s2 .container .item1 .text_box {
    margin-top: 100px;
    margin-left: 30px;
}

.s2 .container .item1 .text_box h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400;
}

.s2 .container .item1 .text_box h4 {
    margin-bottom: 20px;
    color: #666666;
}

/* item2 */
.s2 .container .item2 {
    width: 70%;
}

.s2 .container .item2 .box {
    line-height: 40px;
    margin: 20px 100px;
}

.s2 .container .item2 .box h4 {
    font-weight: 700;
    text-transform: uppercase;
    
}

.s2 .container .item2 .box .text {
    display: flex;
    align-items: center;
    height: 40px;
}

.s2 .container .item2 .box .text .b {
    width: 31px;
    color: #666666;
}

.s2 .container .item2 .box .text h6 {
    margin-right: 30px;
    font-weight: 700;
    color: #000;
}

.s2 .container .item2 .box3 {
    line-height: 10px;
}

.s2 .container .item2 .box3 h4 {
    margin-bottom: 30px;
}

.s2 .container .item2 .box3 h6 {
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #666666;
    font-weight: 500;
}

.s2 .container .item2 .box3 .skillbar {
    box-sizing: border-box;
    padding-right: 55px;
}

.s2 .container .item2 .box3 .skillbar .bar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #dddddd;
    margin-bottom: 30px;
}

.s2 .container .item2 .box3 .bar1 .bar .color {
    background-color: #dd4b25;
    height: 100%;
    border-radius: 10px;
}

.s2 .container .item2 .box3 .bar2 .bar .color {
    background-color: #146eb0;
    height: 100%;
    border-radius: 10px;
}

.s2 .container .item2 .box3 .bar3 .bar .color {
    background-color: #e8d44c;
    height: 100%;
    border-radius: 10px;
}

.s2 .container .item2 .box3 .bar4 .bar .color {
    background-color: #9d57f7;
    height: 100%;
    border-radius: 10px;
}

.s2 .container .item2 .box3 .bar5 .bar .color {
    background-color: #f79500;
    height: 100%;
    border-radius: 10px;
}

.s2 .container .item2 .box3 .bar6 .bar .color {
    background-color: #001d34;
    height: 100%;
    border-radius: 10px;
}

.s2 .container .item2 .box3 .bar7 .bar .color {
    background-color: #00d2f7;
    height: 100%;
    border-radius: 10px;
}

.s2 .container .item2 .box3 .skillbar .num {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -70%);
    display: inline-block;
    font-size: 18px;
}

.s2 .container .item2 .box3 .skillbar .num::after {
    content: '%';
}

.s2 .empty {
    position: absolute;
    bottom: 81px;
    left: 0;
    width: 100%;
    border-top: 2px solid #000;
}

/* section3 */
.s3 {
    padding: 40px 160px;
}

.s3 .container {
    display: flex;
    gap: 150px;
    height: 100%;
    top: 10%;
    flex-direction: column;
}

.s3 .container .text_box h4 {
    font-size: 60px;
    font-weight: 700;
}

.s3 .container .box {
    display: flex;
    gap: 40px;
}

.s3 .item:hover img{
    transform: scale(1.04);
}

.s3 img{
    transition: 0.5s;
}

.s3 .container .box .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s3 .container .box .item ._num {
    margin-bottom: 10px;
    font-weight: 700;

}

.s3 .container .box .item .text_box {
    padding: 20px 10px;
}

.s3 .container .box .item .text_box h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.section.active .img_box img {
    transform: translateY(0);
    opacity: 1;
}

/* s4 */
/*
.s4 {
    background-color: #111;
    color: #fff;
}

.s4 .container .text {
    flex: 4;
}

.s4 .container .text h2 {
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 30px;
}

.s4 .container .text .sub {
    font-size: 18px;
    line-height: 1.7;
    opacity: 0.8;
    margin-bottom: 40px;
}

.s4 .container .info {
    margin-bottom: 50px;
}

.s4 .container .info li {
    font-size: 16px;
    margin-bottom: 10px;
}

.s4 .container .info span {
    display: inline-block;
    width: 120px;
    font-weight: 600;
    opacity: 0.6;
}

.s4 .container .btn {
    display: inline-block;
    padding: 14px 36px;
    border: 1px solid #fff;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.s4 .container .btn:hover {
    background-color: #fff;
    color: #000;
}

.s4 .container .btn:last-child {
    margin-left: 10px;
}

.s4 .container .img_box {
    flex: 6;
    text-align: right;
    height: 100%;
}

.s4 .container .img_box img {
    width: 100%;
    max-width: 720px;
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.8s ease;
}
*/

/* s5 */
.s5 {
    background-color: #111;
    color: #fff;
}

.s5 .container .text {
    flex: 4;
}

.s5 .container .text h2 {
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 30px;
}

.s5 .container .text .sub {
    font-size: 18px;
    line-height: 1.7;
    opacity: 0.8;
    margin-bottom: 40px;
}

.s5 .container .info {
    margin-bottom: 50px;
}

.s5 .container .info li {
    font-size: 16px;
    margin-bottom: 10px;
}

.s5 .container .info span {
    display: inline-block;
    width: 120px;
    font-weight: 600;
    opacity: 0.6;
}

.s5 .container .btn {
    display: inline-block;
    padding: 14px 36px;
    border: 1px solid #fff;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}


.s5 .container .btn:hover {
    background-color: #fff;
    color: #000;
}

.s5 .container .btn:not(:first-child) {
    margin-left: 10px;
}

.s5 .container .img_box {
    flex: 6;
    text-align: right;
}

.s5 .container .img_box img {
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
}

/* s6 */
.s6 {
    background-color: rgba(17, 17, 17, 0.8);
    color: #fff;
}

.s6 .container .text {
    flex: 4;
}

.s6 .container .text h2 {
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 30px;
}

.s6 .container .text .sub {
    font-size: 18px;
    line-height: 1.7;
    opacity: 0.8;
    margin-bottom: 40px;
}

.s6 .container .info {
    margin-bottom: 50px;
}

.s6 .container .info li {
    font-size: 16px;
    margin-bottom: 10px;
}

.s6 .container .info span {
    display: inline-block;
    width: 120px;
    font-weight: 600;
    opacity: 0.6;
}

.s6 .container .btn {
    display: inline-block;
    padding: 14px 36px;
    border: 1px solid #fff;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}



.s6 .container .btn:hover {
    background-color: #fff;
    color: #000;
}

.s6 .container .btn:not(:first-child) {
    margin-left: 10px;
}


.s6 .container .img_box {
    flex: 6;
    text-align: right;
}

.s6 .container .img_box img {
    width: 100%;
    height: 100%;
}

/* s7 */
.s7 {
    background-color: #f7f7f7;
    color: #111111;
}

.s7 .container .text {
    flex: 4;
}

.s7 .container .text h2 {
    font-size: 60px;
    line-height: 1.15;
    margin-bottom: 28px;
}

.s7 .container .text .sub {
    font-size: 17px;
    line-height: 1.8;
    color: #555555;
    margin-bottom: 44px;
}

.s7 .container .info {
    margin-bottom: 52px;
}

.s7 .container .info li {
    font-size: 15px;
    margin-bottom: 12px;
    color: #333333;
}

.s7 .container .info span {
    display: inline-block;
    width: 120px;
    font-weight: 600;
    color: #888888;
}

.s7 .container .btn {
    display: inline-block;
    padding: 14px 38px;
    border: 1px solid #111111;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.s7 .container .btn:hover {
    background-color: #111111;
    color: #fff;
}

.s7 .container .btn:not(:first-child) {
    margin-left: 10px;
}


.s7 .container .img_box {
    flex: 6;
}

.s7 .container .img_box img {
    width: 100%;
    height: 100%;
}







/* s8 */
.s8 {
    padding: 160px 0;
    background-color: #fafafa;
    border-top: 1px solid #e5e5e5;
}

.s8 .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    align-items: center;
}

.s8 .container .message {
    flex: 1;
}

.s8 .container .message h2 {
    font-size: 42px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 30px;
}

.s8 .container .message p {
    font-size: 18px;
    line-height: 1.8;
    color: #555555;
}

.s8 .container .contact_info {
    flex: 1;
}

.s8 .container .contact_info ul li {
    font-size: 18px;
    margin-bottom: 20px;
}

.s8 .container .contact_info span {
    display: inline-block;
    width: 100px;
    font-weight: 600;
    color: #000;
}

.s8 .container .contact_info a {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}