body {
    background: #fff;
    color: #000;
}

/* header */
.logo, .menu{
    color: #000;
}

.menu a:hover {
    opacity: 0.7;
}

.card, .box, .t-card, .style_box {
    background-color: #fff;
    border: 1px solid #dddddd;
}

/* main */
.main .text_box .text_top , .meta {
    border: 1px solid #dddddd;
    color: #dddddd;
}

.main .text_box .text_title h1 {
    color: #ffffff;
}

.main .text_box p {
    color: #dddddd;
}

.main .text_meta .meta .meta1 {
    color: #b4b4b4;
}
.main .text_meta .meta .meta2 {
    color: #dddddd;
}

.section_title ._num span {
    background-color: #111111;
    color: #fff;
}

.card_title h3 {
    color: #111111;
}

.list li {
    color: #444444;
}

.shot .shot_text p {
    color: #555555;
}

.box_text p {
    color: #222222;
}

.timeline::before {
    background-color: #888888;
}

.timeline .t-item .cir {
    background-color: #111111;
}

.timeline .t-card {
    border-color: #e7e7e7;
}

.timeline .t-card h4 {
    color: #111111;
}

.timeline .t-card p {
    color: #555555;
}

.design_box {
    border-color: #e7e7e7;
    background-color: #fff;
}

.mood {
    border: 1px solid #dddddd;
}

.mood_tags .tag {
    border: 1px solid #111111;
    background-color: #fff;
}

.mood_tags .tag span {
    color: #111111;
}

/* color */
.style_box .color .swatch.c1 {
    background-color:#000; 
}
.style_box .color .swatch.c2 {
    background-color:#fff; 
}
.style_box .color .swatch.c3 {
    background-color:rgba(217,217,217,0.4); 
}
.style_box .color .swatch.c4 {
    background-color:#dddddd; 
}
.style_box .color .swatch.c5 {
    background-color: rgba(51,51,51,0.5); 
}
.style_box .color .swatch.c6 {
    background-color: #d9d9d9; 
}
.style_box .color .swatch.c7 {
    background-color:#7e7e7e; 
}
.style_box .color .swatch.c8 {
    background-color:#dede00; 
}
.style_box .color .swatch.c9 {
    background-color:rgba(255,255,255,0.7); 
}
.style_box .color .swatch.c10 {
    background-color:#999999; 
}
.style_box .color .swatch.c11 {
    background-color:#e8e8e8; 
}
.style_box .color .swatch.c12 {
    background-color: rgba(0,0,0,0.1); 
}
.style_box .color .swatch.c13 {
    background-color:rgba(0,0,0,0.5); 
}
.style_box .color .swatch.c14 {
    background-color:rgba(153,153,153,0.5); 
}
.style_box .color .swatch.c15 {
    background-color:rgba(0,0,0,0.4); 
}
.style_box .color .swatch.c16 {
    background-color:#ff0; 
}
.style_box .color .swatch.c17 {
    background-color:#02c659; 
}
.style_box .color .swatch.c18 {
    background-color:#a6a6a6; 
}
.style_box .color .swatch.c19 {
    background-color:#c4c4c4; 
}
.style_box .color .swatch.c20 {
    background-color: #666666; 
}


.btn {
    border: 1px solid #111111;
    background-color: #111111;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    color: #111111;
}

.style_box .comp .kakao {
    background-color: #ff0;
    color: #000;
    border: none;
}

.btn2 {
    background-color: #fff;
    color: #000;
}

.style_box .comp .naver {
    background-color: #02c659;
    border: none;
}

.input {
    border: 1px solid #e7e7e7;
    background: #ffffff;
    color: #111111;
}
.input::placeholder {
    color: #999999;
}
