section {
    border-top: 1px solid #ede7df;
    border-bottom: 1px solid #ede7df;
}

._num {
    color:#a88a5a;
}

/* 텍스트 */
.lead p {
    color:rgba(30,25,20,0.65);
}

/* header */
header {
    background-color: rgba(255,255,255,0.92);
    border-bottom:1px solid #ede7df;
    }

.logo {
    color:#2b221a;
}

.menu {
    color:#2b221a;
}

.menu a:hover{
    background-color: rgba(168,138,90,0.12);
    color:#2b221a;
}

.main .img_box img {
    filter: contrast(1.02) saturate(1.04);
}

.main .img_box .img_fade {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.05) 10%, rgba(255,255,255,0.42) 45%);
}

.main .text_box .text_top {
    color:#2b221a;
    background-color: rgba(255,255,255,0.9);
    border:1px solid #e9e1d7;
}

.main .text_meta .meta {
    background-color: rgba(255,255,255,0.9);
    border:1px solid #e9e1d7;
}

.main .meta1 {
    color:rgba(30,25,20,0.55);
}

.main .meta2 {
    color:#2b221a;
}

.card {
    background-color:#fff;
    border:1px solid #ede7df;
}

.list {
    color:rgba(30,25,20,0.65);
}

.shot_img {
    border:1px solid #ede7df;
}

.shot_text p {
    color:rgba(30,25,20,0.6);
}

.box {
    background:#fff;
    border:1px solid #ede7df;
}

.box_text p {
    border-top:1px solid #ede7df;
    color:rgba(30,25,20,0.6);
}

.timeline::before {
    background-color:#e9e1d7;
}

.cir {
    background-color:#fff;
    border:1px solid rgba(168,138,90,0.6);
}

.t-card {
    background-color:#fff;
    border:1px solid #ede7df;
}

.t-card p {
    color:rgba(30,25,20,0.6);
}

.mood {
    background-color:#fbf8f3; 
    border:1px solid rgba(168,138,90,0.18);
}

.mood_item img {
    border:1px solid #ede7df;
}

.tag {
    background-color:#fff;
    border:1px solid #ede7df;
    color:#2b221a;
}

.style_box {
    background:#fff;
    border:1px solid #ede7df;
}

.style_box p {
    color:rgba(30,25,20,0.6);
}

.button .btn {
    border:1px solid #a88a5a;
    color:#a88a5a;
    background-color:transparent;
    transition: all .25s ease;
}

.button .btn:hover {
    background-color:#a88a5a;
    color:#fff;
    box-shadow: 0 6px 18px rgba(168,138,90,0.25);
}


/* color */
.style_box .color .swatch.c1 {
    background-color:rgba(0,0,0,0.8); 
}
.style_box .color .swatch.c2 {
    background-color:rgba(0,0,0,0.3); 
}
.style_box .color .swatch.c3 {
    background-color:rgba(0,0,0,0.9); 
}
.style_box .color .swatch.c4 {
    background-color:rgba(255,255,255,0.1); 
}
.style_box .color .swatch.c5 {
    background-color: #fff; 
}
.style_box .color .swatch.c6 {
    background-color: #eeeeee; 
}
.style_box .color .swatch.c7 {
    background-color:#000; 
}
.style_box .color .swatch.c8 {
    background-color: rgba(0,0,0,0.2); 
}
.style_box .color .swatch.c9 {
    background-color:#666666; 
}
.style_box .color .swatch.c10 {
    background-color:#dddddd; 
}
.style_box .color .swatch.c11 {
    background-color:#999999; 
}
.style_box .color .swatch.c12 {
    background-color:rgba(9,110,9,0.651); 
}
.style_box .color .swatch.c13 {
    background-color:#f6f6f6; 
}
.style_box .color .swatch.c14 {
    background-color:rgba(102,102,102,0.4); 
}
.style_box .color .swatch.c15 {
    background-color:#3c3c3c; 
}
.style_box .color .swatch.c16 {
    background-color:#888888; 
}
.style_box .color .swatch.c17 {
    background-color:rgba(255,255,255,0.6); 
}
.style_box .color .swatch.c18 {
    background-color:#cccccc; 
}
.style_box .color .swatch.c19 {
    background-color:#efe2c4; 
}
.style_box .color .swatch.c20 {
    background-color: #eaeaea; 
}
.style_box .color .swatch.c21 {
    background-color:#856f56; 
}
.style_box .color .swatch.c22 {
    background-color:#dcdcdc; 
}
.style_box .color .swatch.c23 {
    background-color:#846e54; 
}
.style_box .color .swatch.c24 {
    background-color:#d7aa47; 
}
.style_box .color .swatch.c25 {
    background-color:#e9e9e9; 
}
.style_box .color .swatch.c26 {
    background-color:#c5c5c5; 
}
.style_box .color .swatch.c27 {
    background-color:#333333; 
}
.style_box .color .swatch.c28 {
    background-color:#555555; 
}


.style_box .comp .btn1 {
    background-color: #000;
    color: #fff;
    border: none;
}

.style_box .comp .btn6 {
    background-color: #666666;
    color: #fff;
}

.style_box .comp .btn1:hover{ 
    background-color: #444444; 
}

.style_box .comp .btn6:hover{ 
    background-color: #666666;
}

.style_box .comp .btn2 {
    background-color: transparent;
    color: #000;
    border: 1px solid #ccc;
}

.style_box .comp .btn2:hover { 
    color: #fff;
    background-color: #000;
}





/* popup */
.pop .bg {
    background-color: rgba(0,0,0,0.85);
}

/* footer */
footer .footer1 {
    color:rgba(30,25,20,0.55);
}


